.box-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05),
                0 2px 4px rgba(0, 0, 0, .05);
}

body{
    padding-top: 75px;
}

#home-quote{
    background: url('../img/bg-quote.jpg') center center;
    background-size: cover;
}

.list-plan li+li{
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.list-plan li{
    padding: 1rem;
}


@media (max-width: 768px) {

    #home-quote .display-4{
        font-size: 2.5rem;
    }

    body{
        padding-top: 0px;
    }

    .fixed-top{
        position: relative;
    }
}